// Flexgrind Lightweight

.flex {
  flex: 1;
}

.container {
  display: flex;
  position: relative;
}

.col {
  @extend .container;
  flex-direction: column;
}

.row {
  @extend .container;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

// Alignment
.justify {
  &-start, .start {
    justify-content: start;
  }
  &-center, .center {
    justify-content: center;
  }
  &-end, .end {
    justify-content: end;
  }

  // Distribution
  &-between, .between {
    justify-content: space-between;
  }
  &-around, .around {
    justify-content: space-between;
  }

}

.align {
  &-start, .top {
    align-items: flex-start;
  }
  &-center, .middle {
    align-items: center;
  }
  &-end, .bottom {
    align-items: flex-end;
  }
}

// GRID >> COL-* (1-12)
$total__cols: 12;

@for $num from 1 through $total__cols {
  .col-#{$num} {
    flex-basis: (100 * $num / $total__cols );
  }
}
